
<footer class="mt-5">
  <script async data-uid="932adc3060" src="https://nicalpi-com.ck.page/932adc3060/index.js"></script>
  <div class="callout-yellow mb-5 mt-5">
    <!--<h3 class="mt-5">Get next blog posts, straigh into your inbox</h3>-->
    <!--<p>I know that you might already be innondated with various emails and newsletter. But, if you think that there's value in what I write about, feel free to subscribe to receive blog post straight into your emails</p>-->
    <!--<script async data-uid="932adc3060" src="https://nicalpi-com.ck.page/932adc3060/index.js"></script>-->
    <!--<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/embed/v2.js"></script>-->
    <!--<script>-->
      <!--hbspt.forms.create({-->
        <!--region: "na1",-->
        <!--portalId: "44421553",-->
        <!--formId: "234e2c07-eecd-4cfd-9e5d-abcd4471d93a"-->
      <!--});-->
    <!--</script>-->
    <h3 class="mt-5">Let's connect on social</h3>
    <ul>
      <li>Twitter: <a href="https://www.twitter.com/nicalpi">@nicalpi</a></li>
      <li>Linkedin: <a href="https://www.linkedin.com/in/nicolasalpi/">https://www.linkedin.com/in/nicolasalpi/</a></li>
      <li>Email: <a href="mailto:hi@nicalpi.com">hi@nicalpi.com</a></li>
      <li>Substack: <a href="https://nicalpi.substack.com">https://nicalpi.substack.com</a></li>
      <li>Medium: <a href="https://medium.com/@nicalpi">https://medium.com/@nicalpi</a></li>
    </ul>
  </div>

  <a href="{{ site.baseurl }}/blog">← Back to all writings</a>
  <!-- <nav class="sans">
    <hr>
    <input class="menu-btn" type="checkbox" id="menu-btn" />
    <p><label class="menu-icon" for="menu-btn">Menu</label></p>
    <ul class="site-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/designs">Designs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="https://canisee.xyz" title="Confirm your vision functionality">[Can I See]</a></li>
    </ul>
  </nav> -->
  <!-- <span class="mini-note">You've reached the end of the page. Good job!</span> -->
  <!-- <nav class="sans">
      <hr>
      <p><label class="menu-icon" for="menu-btn">Menu</label></p>
      <ul class="site-nav">
          <li><a href="/">Home</a></li>
          <li><a href="/blog">Blog</a></li>
          <li><a href="/designs">Designs</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="https://canisee.xyz" title="Confirm your vision functionality">[Can I See]</a></li>
      </ul>
  </nav> -->
</footer>




<!-- <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        extensions: ["tex2jax.js", "TeX/AMSmath.js"],
        jax: ["input/TeX", "output/SVG"],
    })
</script>
<script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.6/MathJax.js?config=default">
</script> -->
