<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% seo %}
    <link rel="shortcut icon" href="{{ site.url }}/assets/favicon.ico" type="image/x-icon">
    <link rel="icon" href="{{ site.url }}/assets/favicon.ico" type="image/x-icon">
    <link href='{{ site.url }}/feed.xml' rel='alternate' type='application/atom+xml'>
    <link rel="stylesheet" href="{{ site.url }}/assets/main.css">
    <link rel="stylesheet" href="{{ site.url }}/assets/style.css">
    <link rel="stylesheet" href="{{ site.url }}/assets/syntax_github.css">
</head>

<body>
