---
---

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-white;
  margin: auto;
  padding: 20px;
  text-align: left;
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1.6em;
  font-size: 1.20rem;
  @apply text-gray-700;
}

main {
  max-width: 900px;
  margin: 0px auto;
  @apply p-6;
}

main.reduced-width {
  max-width: 720px;
}

.image-centered img {
    @apply m-auto my-12;
}

nav a {
    margin-right: 10px;
}

main p {
    @apply mb-5;
}


h1 {
  @apply text-4xl font-bold w-full mb-6 mt-6;
}

h2 {
  @apply text-3xl font-bold w-full mb-6;
}

h3 {
  @apply text-2xl font-bold w-full mb-6;
}

h4 {
  @apply text-xl font-bold w-full mb-4;
}

h5 {
  @apply text-xl font-bold w-full mb-4;
}

h6 {
  @apply text-xl font-bold w-full;
}

li {
  @apply mb-5;
}


main.homepage h1 {
  @apply text-6xl text-center;
}

main.homepage h2 {
  @apply text-3xl text-center my-12;
}

.callout-yellow {
  @apply bg-yellow-50 p-2 border border-yellow-300 border-l-8 px-6;
}

main.homepage .callout-yellow {
  @apply mt-12;
}

.callout-yellow h2 {
  @apply !mt-3 mb-6 underline;
}

nav.main-nav {
  @apply text-center mb-6;
}

p.site-title {
  @apply text-center;
}

.site-title--title {
  @apply text-xl font-bold mr-3;
}

.site-title--subtitle {
  @apply text-lg text-gray-800;
}

main.post-layout h1 {
  @apply text-4xl font-bold mr-3 text-center;
}

main.post-layout h2 {
  @apply mt-6 inline-block w-full border-b-2;
  border-color: #cd2653;
}

main.post-layout ul {
  @apply list-disc ml-12;
}

.post-subtitle {
  @apply text-2xl text-gray-800 mb-6 text-left;
  line-height: 1.5em;
}

.post-tag {
  @apply mb-6 text-center;
}

svg {
  @apply inline-block;
}

.post-date {
  @apply mb-6 block text-gray-600 text-center;
}

.post-date svg {
  margin-top: -5px;
}
